*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


/* The basic theme */
section{
    padding: 50px 170px;
}

button{
    border-radius: 7px;
    width: 130px;
    padding: 8px 30px;
    font-size: 17px;
    border: none;
    font-weight: 500;
    user-select: none;
}

 /* Section-1 styling begins*/

.sec-1{
    background-color: #1F2937;

}

.sec-1 h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.sec-1 p, a{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.logo-txt{
    color: #F9FAF8;
}


 /* Navbar */
.nav{
    display: flex;
    width: 100%;
}

.logo, .links{
    flex: 1;
}

h3.logo-txt {
    font-size: 24px;
    user-select: none;
}

ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

ul, a{
    font-weight: 200;
    text-decoration: none;
    list-style: none;
}

ul a:hover{
    text-decoration: underline;
}

/* Hero */
.hero{
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
    gap: 30px;
}

.hero-img, .hero-txt{
    flex: 1;
}

.hero-txt{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-btn{
    background-color: #3882F6;
    color: #E5E7EB;
    cursor: pointer;
}

.hero-btn:hover{
    box-shadow: 151px 1px 0px -1px #224e95 inset;
    -webkit-box-shadow: 151px 1px 0px -1px #224e95 inset;
    -moz-box-shadow: 151px 1px 0px -1px #224e95 inset;
}

.hero-img{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #1F2937;
}



 /* Section-2 styling begins*/


.sec-2 h1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.illustrations{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.illustration{
    min-width: 200px;
    max-width: 220px;
}
.illustration-img{
    height: 200px;
    width: 90%;
    border: #3882F6 4px solid;
    border-radius: 7px;
    margin: 12px 0;
}
.illustration-txt{
    text-align: center;
    font-size: 18px;
}


/* Section 3 */
.sec-3{
    color: #1F2937;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 100;
    padding: 150px 170px;
    display: flex;
    flex-direction: column;
}

.quote-txt{
    width: 900px;
    margin: auto;
}

.quote-person{
    text-align: right;
    font-weight: 500;
}

/* Section 4 */

.sec-4{}

.callToAction-container{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
}

.callToAction-btn{
    border: #F9FAF8 2px solid;
    background-color: #3882F6;
    color: #F9FAF8;
}

.callToAction-btn:hover{
    background-color: #F9FAF8;
    color: #3882F6;
}